@import "tailwindcss";


:root {
  --primary-brand: #2b2d31;
  --secondary-accent: #d9c8a0;
  --background-light: #f7f5f0;
  --contrast-dark: #1c1d20;
  --text-primary: #131313;
  --text-secondary: #7a7d80;
  --buttons-highlight: #7e8a52;
}

body {
  background: var(--background-light);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}
